/* global vars */
:root {
    /* neutral colors */
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);

    /* primary color */
    --strong-cyan: hsl(172, 67%, 45%);

    --br: 1rem;
    --smooth-transition: 300ms ease-in-out;
}

/* typography */

body {
    font-size: 1.5rem;
    font-family: 'Space Mono', monospace;
    font-weight: 700;

    background-color: var(--grayish-cyan);
}

.btn, .input {
    font-size: 1.25rem;
}

.lbl {
    font-size: 1rem;
}

/* general/utility styles */

.card {
    background-color: var(--white);
    padding: 1em;
    border-radius: var(--br);
}

.card--accent {
    background-color: var(--very-dark-cyan);
    color: var(--white);
}

.split {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

/* app styles */

.App {
    display: grid;
    justify-items: center;
    gap: 2rem;
    padding-top: 10%;
}


/* tip calculator styles */
.tip-calculator {
    width: 100%;
}

.tip-form-container, .result-display-container {
    display: grid;
    gap: 1rem;
    width: 100%;
}

/* tip calc component styles */

.lbl {
    color: var(--grayish-cyan);
}


/* input */

/* grid layout necessary for placing icon in input */
.input-container {
    display: grid;
    grid-template-areas:
        "label"
        "input";
}

.input__lbl {
    grid-area: label;
}

.input, .input__icon {
    grid-area: input;
    align-self: center;
}

.input__icon {
    margin-left: 0.5rem;
}

.input {
    border: none;
    background-color: var(--very-light-grayish-cyan);
    direction: rtl;
    padding: 0.5rem;
    color: var(--very-dark-cyan);
}

/* tip selection section */
.tip-selection__btn-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    padding: 1rem 0;
}

.btn {
    border: none;
    color: var(--white);
    background-color: var(--very-dark-cyan);
    border-radius: 0.25rem;
    padding: 0.25em 0;

    transition: background-color var(--smooth-transition);
}

.btn:hover {
    --darker: hsl(183, 100%, 10%);

    cursor: pointer;
    background-color: var(--darker);
}

.btn--light {
    color: var(--very-dark-cyan);
    background-color: var(--strong-cyan);
}

.btn--light:hover {
    --darker-primary: hsl(172, 67%, 35%);
    background-color: var(--darker-primary);
}

/* calculation results section */
.results-display {
    display: flex;
    justify-content: space-between;
}

.results-display__lbl {
    font-size: 1rem;
}

.results-display__sublbl {
    font-size: 0.75rem;
    color: var(--grayish-cyan);
}

.results-display__ammount {
    font-size: 2rem;
    color: var(--strong-cyan);
}

.reset-btn {
    margin-top: 2rem;
}