/* global vars */
:root {
    /* neutral colors */
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);

    /* primary color */
    --strong-cyan: hsl(172, 67%, 45%);

    --br: 1rem;
}

/* typography */

body {
    font-size: 1.5rem;
    font-family: 'Space Mono', monospace;
    font-weight: 700;

    background-color: var(--grayish-cyan);
}

/* general/utility styles */

.card {
    background-color: var(--white);
    padding: 1em;
    border-radius: var(--br);
}

.card--accent {
    background-color: var(--very-dark-cyan);
}

.split {
    display: flex;
    flex-wrap: wrap;
}

/* app styles */

.App {
    display: grid;
    justify-items: center;
    gap: 2rem;
    padding-top: 10%;
}


/* tip calculator styles */
.tip-calculator {
    width: 100%;
}